<template>
<div class="q-pa-md">
    <q-layout>

        <q-header class="bg-white">
            <nav id="header">

                <div class="navbar">
                    <a class="a" href="#">Gmail</a>
                </div>

                <div class="navbar"><a class="a" href="#">Images</a></div>
                <div class="navbar.right"><a href="#" aria-label="Applications Google" role="button">
                        <img class="img" src="../assets/google_app.png">

                    </a></div><a href="#" aria-label="Applications Google" role="button">
                </a>

                <div class="navbar.right">
                    <a href="#" aria-label="Applications Google" role="button">
                    </a>
                    <a href="#" aria-label="Applications Google">
                        <img class="img" src="../assets/pic_gmail.png" style="clip-path: circle(40%)">
                    </a>
                </div>

                <a href="#" aria-label="Applications Google">
                </a>
            </nav>
        </q-header>

        <q-footer class="bg-light-gray">
            <div id="footer-main">
                <div id="footer-top">
                    <span id="footer-top">France</span>
                </div>
                <div id="footer-bottom">
                    <div id="left">
                        <span id="footer-left">
                            <a href="#">Publicité</a>
                            <a href="#">Entreprise</a>
                            <a href="#">&Agrave; propos</a>
                            <a href="#">Comment fonctionne la recherche Google ?</a>
                            <a> <img class="imgf" src="../assets/feuille.png"> Neutre en carbone depuis 2007</a>

                        </span>
                    </div>

                    <div id="right">
                        <span id="footer-right">

                            <a href="#">Publication judiciaire</a>
                            <a href="#">Info consommateurs</a>
                            <a href="#">Confidentialité</a>
                            <a href="#">Conditions</a>
                            <a href="#">Paramètres</a>
                        </span>
                    </div>
                </div>
            </div>

            <div id="footer-main2">
                <div id="footer-top">
                    <span id="footer-top">France</span>
                </div>
                <div id="footer-bottom">
                    <div id="left">
                        <span id="footer-left">
                            <a href="#">Info consommateurs</a>
                            <a href="#">Confidentialité</a>
                            <a href="#">Conditions</a>
                            <a href="#">Paramètres</a>
                        </span>
                    </div>
                    <div id="right">
                        <span id="footer-right">
                            <a href="#">Publicité</a>
                            <a href="#">Entreprise</a>
                            <a href="#">&Agrave; propos</a>
                            <a href="#">Comment fonctionne la recherche Google ?</a>
                        </span>
                    </div>
                </div>
            </div>
        </q-footer>

        <q-page-container>
            <router-view />
        </q-page-container>
    </q-layout>
</div>
</template>

<script>
export default {
    name: 'MainLayout'
}
</script>
