html {
  height: 100%;
  width: 100%;
  color: rgba(0, 0, 0, 0.877);
  font-family: arial, sans-serif;
  min-width: 1139px;
}
#header {

  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  position: relative;
  background-color:white;
  white-space: nowrap;
  height: 50px;
}
.a:link,
.a:visited {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;

}
.a:hover {
  text-decoration: underline;
}

.navbar {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;

}
.navbar.right {

  margin-top: auto;
  margin-bottom: auto;


}
.navbar.right:hover{
  clip-path: circle();
  box-shadow: 0 0 4px lightgray;

}
.img{

  height: 40px;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;



}
body {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: #609;
}

a:hover {
  color: #1a0dab;
  text-decoration: underline;
}

/*boutons*/
button {
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  margin: 11px 4px;
  padding: 0 16px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial, sans-serif;
  font-size: 14px;
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-color: #f2f2f2;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

button:hover {
  color: #222;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
}

input:focus {
 outline: none;
}

/*Entree de caractères par l'utilisateur*/
input {
  width: 100%;
  border: none;
  margin: 5px 0;
  padding: 7px 0;
  font-size: 16px;
}



/*Logo Google*/
#logo {
  height: 230px;
  margin-top: -110px;
}

#br {
  width: 550px;
  padding: 0 17px 0 14px;
  border: solid 1px #dfe1e5;
  border-radius: 24px;
}

#br:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
  text-decoration: none !important;
}

#loupe {
  display: block;
  border: none;
  margin: 12px 2px 8px 0;
  opacity: 0.4;
  float: left;
}

#inp {
  display: flex;
  width: calc(100% - 52px);
  border: none;
  flex: 100%;
  float: left;
}

#mic {
  display: block;
  margin: 10px -2px 5px 5px;
  border: none;
  font-size: 19px;
  float: right;
}
#lp {
  display: block;
  margin: 10px -2px 5px 5px;
  border: none;
  font-size: 19px;
  float: left;
}


.neuf {
  display: block;
  width: 30px;
  height: 30px;
  background-size: 528px 68px;
  background-position: -132px -38px;
  box-sizing: border-box;
  opacity: .55;
}

#footer-main2 {
  display: none;
}

#footer-main,
#footer-main2 {
  width: 100%;
  min-width: 980px;
  border-top: 1px solid #e4e4e4;
  bottom: 0;
  position: fixed;
  background: #f2f2f2;
  line-height: 40px;
  font-size: 14px;
}

#footer-main a,
#footer-main2 a {
  display: inline-block;
  color: #5f6368;
}

#footer-top {
  font-size: 15px;
  color: rgba(0, 0, 0, .54);
}

#footer-bottom {
  width: calc(100% - 7px);
  margin-left: 7px;
  border-top: 1px solid #e4e4e4;
  font-size: 14px;
}

#footer-left {
  float: left;
  white-space: nowrap;
}

#footer-right {
  float: right;
  white-space: nowrap;
  margin-right: 30px;
}

#footer-top {
  padding-left: 15px;
}

#footer-right a,
#footer-left a {
  padding-left: 23px;
}

#flr {
  clear: both;
}

#btn div {
  float: right;
  color: #000;
}

.fas.fa-th {
  opacity: .55;
}

.fas.fa-th:hover {
  opacity: .85;
}

.fas.fa-microphone {
  background: linear-gradient(180deg, #4285f4, #4285f4, #4285f4, #fbbc05, #ea4335, #ea4335);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.imgf{

  height: 15px;
  width: auto;
  margin-left: 180px;
  margin-right: none;
}

.p2{
  font-family: arial,sans-serif;
  font-size: 15px;
  color: rgba(0,0,0,.54);
  margin-left: 70px;

}
