<template>
<q-page-container style="padding-top: 190px;padding-bottom: 10px;">
    <div id="body">
        <div id="main">
            <center>
                <div id="logo">
                    <img src="../assets/google.png" style="padding: 109px 0 0;">
                </div>
                <div id="search" style="margin-top:-5px;">
                    <div style="width: max-content;">
                        <form>
                            <div id="br">
                                <div style="clear: both;"></div>
                                <div id="inp"></div>
                                  <div id="lp"><span class="material-icons"> search </span></div>
                                <div id="mic"><img src="../assets/micgoogle.png" style="width: 24px;">
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div style="clear: both;"></div>
                            <div style="float: left;margin-top: 18px; width: 570px; padding-bottom: 13px;">
                                <button>Recherche Google</button>
                                <button>J'ai de la chance</button>
                            </div>
                            <div style="clear: both;"></div>
                        </form>
                    </div>
                </div>
                <div id="lang" style="font-size: small;display: inline-block;
                line-height: 28px;">
                    Google disponible en : <a style="padding: 0 3px;" href="#">English</a>
                </div>
            </center>
        </div>
    </div>
</q-page-container>
</template>

<script>
export default {
    name: 'Index'
}
</script>
